{{ define "main" }}
  <section class="py-16">
    <div class="container mx-auto px-4 mb-24">
      <div class="mx-auto xl:max-w-1/2 mb-16">
        {{ with .Title }}
          <h1 class="markdown-title text-center text-4xl xl:text-5xl font-bold xl:leading-normal mb-10">{{ . | markdownify }}</h1>
        {{ end }}
        {{ with .Description }}
          <p class="text-xl xl:leading-loose font-medium text-center text-[#777777]">{{ . }}</p>
        {{ end }}
      </div>
      {{ if site.Taxonomies.tags }}
        <div class="flex flex-wrap items-center justify-center gap-8 max-w-3/4 mx-auto">
          {{ range site.Taxonomies.tags }}
            {{ partial "components/button/pill" (dict "label" .Page.Title "href" .Page.Permalink)}}
          {{ end }}
        </div>
      {{ end }}
    </div>

    <!--Posts List-->
    <div class="container mx-auto px-4 grid lg:grid-cols-2 xl:grid-cols-3 gap-x-20 gap-y-32 mb-28">
      {{ range .RegularPages }}
        <div class="">
          <a class="block rounded-4xl overflow-hidden mb-10" href="{{ .Permalink }}">
            {{ with .Params.image }}
              <div class="w-20 h-20 flex">
                {{ partial "utilities/image" (dict "src" . "class" "w-full h-full object-contain")}}
              </div>
            {{ else }}
              <div class="w-20 h-20 bg-primary/10">
              </div>
            {{ end }}
          </a>
          <h1 class="text-2xl font-semibold leading-relaxed mb-8"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
          <div class="text-[#424242] leading-loose">
            {{ .Summary }}
          </div>
        </div>
      {{ end }}
    </div>

    <!--Pagination-->
    <div class="flex items-center justify-center mb-28">
      {{ partial "pagination" . }}
    </div>
  </section>
{{ end }}
